interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/user/orgs
  response:
    body:
      string: '[{"login":"documentcloud","id":93383,"node_id":"MDEyOk9yZ2FuaXphdGlvbjkzMzgz","url":"https://api.github.com/orgs/documentcloud","repos_url":"https://api.github.com/orgs/documentcloud/repos","events_url":"https://api.github.com/orgs/documentcloud/events","hooks_url":"https://api.github.com/orgs/documentcloud/hooks","issues_url":"https://api.github.com/orgs/documentcloud/issues","members_url":"https://api.github.com/orgs/documentcloud/members{/member}","public_members_url":"https://api.github.com/orgs/documentcloud/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/93383?v=4","description":""},{"login":"PythonJournos","id":533472,"node_id":"MDEyOk9yZ2FuaXphdGlvbjUzMzQ3Mg==","url":"https://api.github.com/orgs/PythonJournos","repos_url":"https://api.github.com/orgs/PythonJournos/repos","events_url":"https://api.github.com/orgs/PythonJournos/events","hooks_url":"https://api.github.com/orgs/PythonJournos/hooks","issues_url":"https://api.github.com/orgs/PythonJournos/issues","members_url":"https://api.github.com/orgs/PythonJournos/members{/member}","public_members_url":"https://api.git[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/user
  response:
    body:
      string: '{"login":"zstumgoren","id":39200,"node_id":"MDQ6VXNlcjM5MjAw","avatar_url":"https://avatars1.githubusercontent.com/u/39200?v=4","gravatar_id":"","url":"https://api.github.com/users/zstumgoren","html_url":"https://github.com/zstumgoren","followers_url":"https://api.github.com/users/zstumgoren/followers","following_url":"https://api.github.com/users/zstumgoren/following{/other_user}","gists_url":"https://api.github.com/users/zstumgoren/gists{/gist_id}","starred_url":"https://api.github.com/users/zstumgoren/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zstumgoren/subscriptions","organizations_url":"https://api.github.com/users/zstumgoren/orgs","repos_url":"https://api.github.com/users/zstumgoren/repos","events_url":"https://api.github.com/users/zstumgoren/events{/privacy}","received_events_url":"https://api.github.com/users/zstumgoren/received_events","type":"User","site_admin":false,"name":"Serdar
        Tumgoren","company":"@stanfordjournalism","blog":"","location":"San Francisco, CA","email":"zstumgoren@gmail.com","hireable":null,"bio":"Data
        journalism lecturer for the Stanford Journalism Program.","public_repos":47,"public_gists":29,"followers":96,"following":99,"created_at":"2008-12-09T01:26:00Z","updated_at":"2019-08-21T20:15:11Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"566ed2d612496c35fdf0e7114d906425"
      Last-Modified:
      - Wed, 21 Aug 2019 20:15:11 GMT
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:repo_hook, delete_repo, notifications, read:packages, repo, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4977'
      X-RateLimit-Reset:
      - '1568144666'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "fake-project", "private": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.github.com/orgs/associatedpress/repos
  response:
    body:
      string: '{"message":"Repository creation failed.","errors":[{"resource":"Repository","code":"custom","field":"name","message":"name
        already exists on this account"}],"documentation_url":"https://developer.github.com/v3/repos/#create"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Accepted-OAuth-Scopes:
      - public_repo, repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:repo_hook, delete_repo, notifications, read:packages, repo, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4976'
      X-RateLimit-Reset:
      - '1568144666'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
