interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/user/orgs
  response:
    body:
      string: '[{"login":"documentcloud","id":93383,"node_id":"MDEyOk9yZ2FuaXphdGlvbjkzMzgz","url":"https://api.github.com/orgs/documentcloud","repos_url":"https://api.github.com/orgs/documentcloud/repos","events_url":"https://api.github.com/orgs/documentcloud/events","hooks_url":"https://api.github.com/orgs/documentcloud/hooks","issues_url":"https://api.github.com/orgs/documentcloud/issues","members_url":"https://api.github.com/orgs/documentcloud/members{/member}","public_members_url":"https://api.github.com/orgs/documentcloud/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/93383?v=4","description":""},{"login":"PythonJournos","id":533472,"node_id":"MDEyOk9yZ2FuaXphdGlvbjUzMzQ3Mg==","url":"https://api.github.com/orgs/PythonJournos","repos_url":"https://api.github.com/orgs/PythonJournos/repos","events_url":"https://api.github.com/orgs/PythonJournos/events","hooks_url":"https://api.github.com/orgs/PythonJournos/hooks","issues_url":"https://api.github.com/orgs/PythonJournos/issues","members_url":"https://api.github.com/orgs/PythonJournos/members{/member}","public_members_url":"https://api.git[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/user
  response:
    body:
      string: '{"login":"zstumgoren","id":39200,"node_id":"MDQ6VXNlcjM5MjAw","avatar_url":"https://avatars1.githubusercontent.com/u/39200?v=4","gravatar_id":"","url":"https://api.github.com/users/zstumgoren","html_url":"https://github.com/zstumgoren","followers_url":"https://api.github.com/users/zstumgoren/followers","following_url":"https://api.github.com/users/zstumgoren/following{/other_user}","gists_url":"https://api.github.com/users/zstumgoren/gists{/gist_id}","starred_url":"https://api.github.com/users/zstumgoren/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zstumgoren/subscriptions","organizations_url":"https://api.github.com/users/zstumgoren/orgs","repos_url":"https://api.github.com/users/zstumgoren/repos","events_url":"https://api.github.com/users/zstumgoren/events{/privacy}","received_events_url":"https://api.github.com/users/zstumgoren/received_events","type":"User","site_admin":false,"name":"Serdar
        Tumgoren","company":"@stanfordjournalism","blog":"","location":"San Francisco, CA","email":"zstumgoren@gmail.com","hireable":null,"bio":"Data
        journalism lecturer for the Stanford Journalism Program.","public_repos":47,"public_gists":29,"followers":96,"following":99,"created_at":"2008-12-09T01:26:00Z","updated_at":"2019-08-21T20:15:11Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"566ed2d612496c35fdf0e7114d906425"
      Last-Modified:
      - Wed, 21 Aug 2019 20:15:11 GMT
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:repo_hook, delete_repo, notifications, read:packages, repo, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1568137998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/search/repositories?q=fake-project%2Buser%3Azstumgoren
  response:
    body:
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:repo_hook, delete_repo, notifications, read:packages, repo, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1568134459'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "fake-project", "private": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '{"id":207614484,"node_id":"MDEwOlJlcG9zaXRvcnkyMDc2MTQ0ODQ=","name":"fake-project","full_name":"zstumgoren/fake-project","private":true,"owner":{"login":"zstumgoren","id":39200,"node_id":"MDQ6VXNlcjM5MjAw","avatar_url":"https://avatars1.githubusercontent.com/u/39200?v=4","gravatar_id":"","url":"https://api.github.com/users/zstumgoren","html_url":"https://github.com/zstumgoren","followers_url":"https://api.github.com/users/zstumgoren/followers","following_url":"https://api.github.com/users/zstumgoren/following{/other_user}","gists_url":"https://api.github.com/users/zstumgoren/gists{/gist_id}","starred_url":"https://api.github.com/users/zstumgoren/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zstumgoren/subscriptions","organizations_url":"https://api.github.com/users/zstumgoren/orgs","repos_url":"https://api.github.com/users/zstumgoren/repos","events_url":"https://api.github.com/users/zstumgoren/events{/privacy}","received_events_url":"https://api.github.com/users/zstumgoren/received_events","type":"User","site_admin":false},"html_url":"https://github.com/zstumgoren/fake-project","description":null,"fork":false,"url":"https://api.github.com/repos/zstumgoren/fake-project","forks_url":"https://api.github.com/repos/zstumgoren/fake-project/forks","keys_url":"https://api.github.com/repos/zstumgoren/fake-project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/zstumgoren/fake-project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/zstumgoren/fake-project/teams","hooks_url":"https://api.github.com/repos/zstumgoren/fake-project/hooks","issue_events_url":"https://api.github.com/repos/zstumgoren/fake-project/issues/events{/number}","events_url":"https://api.github.com/repos/zstumgoren/fake-project/events","assignees_url":"https://api.github.com/repos/zstumgoren/fake-project/assignees{/user}","branches_url":"https://api.github.com/repos/zstumgoren/fake-project/branches{/branch}","tags_url":"https://api.github.com/repos/zstumgoren/fake-project/tags","blobs_url":"https://api.github.com/repos/zstumgoren/fake-project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/zstumgoren/fake-project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/zstumgoren/fake-project/git/refs{/sha}","trees_url":"https://api.github.com/repos/zstumgoren/fake-project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/zstumgoren/fake-project/statuses/{sha}","languages_url":"https://api.github.com/repos/zstumgoren/fake-project/languages","stargazers_url":"https://api.github.com/repos/zstumgoren/fake-project/stargazers","contributors_url":"https://api.github.com/repos/zstumgoren/fake-project/contributors","subscribers_url":"https://api.github.com/repos/zstumgoren/fake-project/subscribers","subscription_url":"https://api.github.com/repos/zstumgoren/fake-project/subscription","commits_url":"https://api.github.com/repos/zstumgoren/fake-project/commits{/sha}","git_commits_url":"https://api.github.com/repos/zstumgoren/fake-project/git/commits{/sha}","comments_url":"https://api.github.com/repos/zstumgoren/fake-project/comments{/number}","issue_comment_url":"https://api.github.com/repos/zstumgoren/fake-project/issues/comments{/number}","contents_url":"https://api.github.com/repos/zstumgoren/fake-project/contents/{+path}","compare_url":"https://api.github.com/repos/zstumgoren/fake-project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/zstumgoren/fake-project/merges","archive_url":"https://api.github.com/repos/zstumgoren/fake-project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/zstumgoren/fake-project/downloads","issues_url":"https://api.github.com/repos/zstumgoren/fake-project/issues{/number}","pulls_url":"https://api.github.com/repos/zstumgoren/fake-project/pulls{/number}","milestones_url":"https://api.github.com/repos/zstumgoren/fake-project/milestones{/number}","notifications_url":"https://api.github.com/repos/zstumgoren/fake-project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/zstumgoren/fake-project/labels{/name}","releases_url":"https://api.github.com/repos/zstumgoren/fake-project/releases{/id}","deployments_url":"https://api.github.com/repos/zstumgoren/fake-project/deployments","created_at":"2019-09-10T16:53:19Z","updated_at":"2019-09-10T16:53:19Z","pushed_at":"2019-09-10T16:53:20Z","git_url":"git://github.com/zstumgoren/fake-project.git","ssh_url":"git@github.com:zstumgoren/fake-project.git","clone_url":"https://github.com/zstumgoren/fake-project.git","svn_url":"https://github.com/zstumgoren/fake-project","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"network_count":0,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a8373c57e3ed35b94942a5e55c20314d"'
      Location:
      - https://api.github.com/repos/zstumgoren/fake-project
      Status:
      - 201 Created
      X-Accepted-OAuth-Scopes:
      - public_repo, repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:repo_hook, delete_repo, notifications, read:packages, repo, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1568137998'
    status:
      code: 201
      message: Created
version: 1
